.title {font-style: italic;color: blanchedalmond;}

.body{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	 background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuRPQQd9A-nn8bltuHnyQooz7RUV5eneV6rg&usqp=CAU);}
.text{font-family: 'Times New Roman', Times, serif; 
	color: rgb(238, 130, 238);
	 font-size: 20px;
	line-height: 1.5;
background-color: black;}
a {color: crimson;}
.kaneki {background-image: url(https://i.mycdn.me/image?id=371970002666&plc=WEB&tkn=*u_brovXBciLYULzp2dtoSQGFLlo&fn=sqr_288);}
.sss {font-family:'Times New Roman', Times, serif ; 
font-size: 30px; background-color: rgb(216, 191, 216);}